@import "https://fonts.googleapis.com/css?family=Noto+Serif+SC:400,500,600,700.css";
@import "https://fonts.googleapis.com/css?family=Noto+Serif+TC:700.css";

:root {
  --vp-font-family-base: "Noto Serif SC", 'Inter var experimental', 'Inter var', ui-sans-serif,
    system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Helvetica, Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --vp-c-brand: #afa376;
  --vp-c-brand-light: #dacc93;
  --vp-c-brand-lighter: #e4d59a;
  --vp-c-brand-dark: #696245;
  --vp-c-brand-darker: #584c1c;
}

h1.name {
  font-family: 'Noto Serif TC'
}

p.text {
  font-family: 'Noto Serif TC'
}

.jbd-tc {
  font-family: 'Noto Serif TC', "Noto Serif SC"
}

.vp-doc>div>p {
  text-indent: 2em;
}
